.marginClass{
    width: 100%;
    margin-right: 10px;
    height: 100%;
    margin-top: 30px;
}

/* .text-time-revers-container{
    display: none;
} */
.add-div{
    display:none;
}

#chart{
    height: 100%;
}
.total-chart #chart{
    height: 112%;
}
.in-small-screen{
    height: 12rem;
    width: 82%;
    margin-left: 9%;
}
@media only screen and (max-width: 770px) {
    .myClass {
     flex-wrap: wrap;
    }
    .marginClass{
        margin-bottom:20px;
        margin-right: 10px;
        margin-left: 10px;
        margin-top: 20px;
    }
    .container-chart{
        max-width: 600px;
    }
    /* .text-time-revers-container{
        display: flex;
        height: 31px;
        margin-bottom: 11px;
        /* background-color: red; */
        /* width: 100%; */
    /* } */ 
    .in-small-screen{
        width: 100%;
        margin-left: 0;
    }
    .add-div{
        /* width: 100%;
        max-width: 100%;
        height:10%;
        background-color:aqua  */
        display: flex;
        height: 31px;
        margin-bottom: 11px;
        /* background-color: red; */
        width: 100%;
    }
}
@media only screen and (min-width: 900px) {
/* .in-small-screen{
    flex-direction: row-reverse;
  } */
  .circle-menu-container{
     display: flex; 
  }
}