.marginClass{
    width: 100%;
  
}
.marginClass{
    margin-right: 10px;
}
@media only screen and (max-width: 600px) {
    .myClass {
     flex-wrap: wrap;
    }
    .marginClass{
        margin-bottom:20px;
        margin-right: 10px;
        margin-left: 10px;
    }
}


