/* .MuiGrid-spacing-xs-3 > .MuiGrid-item {
    padding: 4px !important;
} */      
/* .cardFor:hover{
    background-color: #FFC9F4;
} */
/* .paperOne:hover{
    background-color:#FFEDD2  !important;
} */
.navbar-brand{
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}
.filterBy{

   margin-right: 10px;
   margin-bottom: 0 !important;
   border-right: 1px solid #50565c80;
   padding-right: 10px;
}
.filter{

    margin-right: 10px;
    margin-bottom: 0 !important;
   
    padding-right: 10px;
 }

 .filter:active  {
    cursor: pointer;
    font-weight: bold;
 
}
  .filterBy:hover  {
    cursor: pointer;
    font-weight: bold;
}

.filter:hover {
    cursor: pointer;
    font-weight: bold;
}

/* .paperTwo:hover{
    background-color: #C6F1F1 !important;

} */
/* .paperThree:hover{
    background-color: #CACEFF !important;
} */
/* .paperFour:hover{
    background-color:#FF456042!important;
} */

.is-small1{
      font-size: 4px !important;
      /* width: 100%; */
      margin-left:104px;
  }


  .gouge{
    position: relative;
    /* height: 49px; */
}
.gouge div{
    position: absolute;
    top: -48px;
    left: 124px
 }

 .upladge{
    top: 241px;
    margin-top: -47px;
    margin-left: -4px;
left: 1326px;
width: 78px;
height: 24px;
color: #FFFFFF;


border-radius: 3px;
opacity: 1;
}
 
  
.is-small{
    font-size: 4px !important;
    /* width: 100%; */
    margin-left:104px;
}
  .circleStyle{
        padding: 6;
        margin: 6;
        display: "inline-block";
        background-color: rgba(255, 69, 96, 0.85);
        border-radius: "50%";
        width: 1;
        height: 1;
        left: 0;
        top: 1;
  }
  .div-container{
      margin-left: 12.5%;
      margin-right: 12.5%;
  }
  .MuiAvatar-colorDefault {
color: #000000 !important;  
}
.navbar{
    flex-wrap: nowrap;
}
.circle-menu-container{
    display: none; 
 }
@media only screen and (max-width: 770px) {
    .MuiGrid-spacing-xs-4 > .MuiGrid-item{
        max-width: 100% !important;
        width: 100%;
        flex-basis: 100% !important;
    }
    .circle-menu-container, .text-time-container{
        max-width: 100%;
    }
    .myClass1{
        margin-right: 0 !important;
    }
    .navbar{
        width: 100%;
        justify-content: center !important;
        margin-top: -21px;
    }
    .is-small{
        margin-top: 29px;
        margin-bottom: 49px;
        margin-left: unset;
        font-size: 2px;
        font-display:unset;
        zoom:0.8;
    }
    
    .is-small1{
        margin-top: 43px;
        margin-bottom: 49px;
        margin-left: unset;
        font-size: 2px;
        font-display:unset;
        zoom:0.8;
    }
    .div-container{
        margin-left: 0;
        margin-right: 0;
    }
    /* .text-time-container{
        position: absolute !important;
        top:  20rem !important;
    } */
    }
    @media only screen and ( min-width:700px) and ( max-width: 770px) {
        .gouge div{
            left:411px !important;
        }
    }

    .myInput::placeholder {
        color:white;
        
    }
    .myInput{

        top: 146px;
        left: 1329px;
        width: 85px;
        height: 26px;
        background: #2FAAF4 0% 0% no-repeat padding-box;
        border-radius: 3px;
        opacity: 1;
         margin-top: -47px;
        font-weight: bold;
        text-align: center;

    }

    .MuiPaper-elevation1{
        width: 100% !important;
    }
    @media (max-width: 1100px){
        .MuiGrid-grid-sm-3 {
        max-width: 50% !important;
        flex-basis: 50% !important;
    }
    }
        @media only screen and (max-width: 600px) {
           
            .MuiGrid-grid-sm-3 {
                max-width: 24% !important;
                    }
        }

