

.myInput1::placeholder {
    color:white;
 
    
}
.myInput1:hover{
    background-color:  rgb(15, 147, 227) !important;
}
.myInput1{

    top: 146px;
    left: 1329px;
    width: 80px;
    height: 26px;
    background:#4BBAFD 0% 0% no-repeat padding-box; 
    border-radius: 3px;
    border: 1px solid #4BBAFD;
    opacity: 1;
     margin-top: -47px;
    font-weight: bold;
    text-align: center;

}
.myInput1:focus{
    outline:none !important;
    border:#2FAAF4 1px solid;
}



.myInput2::placeholder {
    color:white;
 
    
}

.myInput2:hover{
    background-color:  rgb(15, 147, 227) !important;
}
.myInput2{

    top: 146px;
    left: 1329px;
    width: 85px;
    height: 26px;
    background:#4BBAFD 0% 0% no-repeat padding-box; 
    border-radius: 3px;
    border: 1px solid #4BBAFD;
    opacity: 1;
     margin-top: -47px;
    font-weight: bold;
    text-align: center;

}
.myInput2:focus{
    outline:none !important;
    border:#2FAAF4 1px solid;
}


.myInput3::placeholder {
    color:white;
 
    
}

.myInput3:hover{
    background-color: rgb(15, 147, 227) !important;
}
.myInput3{

    top: 146px;
    left: 1329px;
    width: 85px;
    height: 26px;
    background:#4BBAFD 0% 0% no-repeat padding-box; 
    border-radius: 3px;
    border: 1px solid #4BBAFD;
    opacity: 1;
     margin-top: -47px;
    font-weight: bold;
    text-align: center;

}
.myInput3:focus{
    outline:none !important;
    border:#2FAAF4 1px solid;
}


.myInput4::placeholder {
    color:white;
 
    
}

.myInput4:hover{
    background-color:  rgb(15, 147, 227) !important;
}
.myInput4{

    top: 146px;
    left: 1329px;
    width: 85px;
    height: 26px;
    background:#4BBAFD 0% 0% no-repeat padding-box; 
    border-radius: 3px;
    border: 1px solid #4BBAFD;
    opacity: 1;
     margin-top: -47px;
    font-weight: bold;
    text-align: center;

}
.myInput4:focus{
    outline:none !important;
    border:#2FAAF4 1px solid;
}


 /* .myInput:onChange{

border: red;

 } */




.is-small1{
      font-size: 4px !important;
      /* width: 100%; */
      margin-left:104px;
  }


  .gouge{
    position: relative;
    /* height: 49px; */
}
.gouge div{
    position: absolute;
    top: -48px;
    left: 124px
 }

 
  
.is-small{
    font-size: 4px !important;
    /* width: 100%; */
    margin-left:104px;
}
 
  .div-container{
      margin-left: 12.5%;
      margin-right: 12.5%;
  }
  .MuiAvatar-colorDefault {
color: #000000 !important;  
}


@media only screen and (max-width: 770px) {
    .MuiGrid-spacing-xs-4 > .MuiGrid-item{
        max-width: 100% !important;
        width: 100%;
        flex-basis: 100% !important;
    }
    .circle-menu-container, .text-time-container{
        max-width: 100%;
    }
    .myClass1{
        margin-right: 0 !important;
    }
    .navbar{
        width: 100%;
        justify-content: center !important;
        margin-top: -21px;
    }
    .is-small{
        margin-top: 29px;
        margin-bottom: 49px;
        margin-left: unset;
        font-size: 2px;
        font-display:unset;
        zoom:0.8;
    }
    
    .is-small1{
        margin-top: 43px;
        margin-bottom: 49px;
        margin-left: unset;
        font-size: 2px;
        font-display:unset;
        zoom:0.8;
    }
    .div-container{
        margin-left: 0;
        margin-right: 0;
    }
    /* .text-time-container{
        position: absolute !important;
        top:  20rem !important;
    } */
    }
    @media only screen and ( min-width:700px) and ( max-width: 770px) {
        .gouge div{
            left:411px !important;
        }
    }

   

    .MuiPaper-elevation1{
        width: 100% !important;
    }
    @media (max-width: 1100px){
        .MuiGrid-grid-sm-3 {
        max-width: 50% !important;
        flex-basis: 50% !important;
    }
    }
        @media only screen and (max-width: 600px) {
           
            .MuiGrid-grid-sm-3 {
                max-width: 24% !important;
                    }
        }



