/* .MuiGrid-spacing-xs-3 > .MuiGrid-item {
    padding: 4px !important;
} */      
.cardFor:hover{
    background-color: #FFC9F4;
}
.paperOne:hover{
    background-color:#FFEDD2  !important;
}
.navbar-brand{
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}
.filterBy{
   margin-right: 20px;
   margin-bottom: 0 !important;
}
.filterBy:hover {
    cursor: pointer;
    font-weight: bold;
}

.paperTwo:hover{
    background-color: #C6F1F1 !important;

}
.paperThree:hover{
    background-color: #CACEFF !important;
}
.paperFour:hover{
    background-color:#FF456042!important;
}
@media only screen and (max-width: 400px) {
  .myClass1{
      margin-right: 0 !important;
  }
  }
  .circleStyle{
        padding: 6;
        margin: 6;
        display: "inline-block";
        background-color: rgba(255, 69, 96, 0.85);
        border-radius: "50%";
        width: 1;
        height: 1;
        left: 0;
        top: 1;
  }
  .div-container{
      margin-left: 12.5%;
      margin-right: 12.5%;
  }
  .MuiAvatar-colorDefault {
color: #000000 !important;  
}